<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Skills Index Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>My Dev Skills</h1>
    <ul>
    <% skills.forEach((skill, idx) => { %>
        <li>
            <%- include('show', {skill, partial: true}) %>
            &mdash;
            <a href="/skills/<%= skill.name %>" class="see-more">See More...</a>
        </li>
    <% }); %>
    </ul>
</body>
</html>