<%- include('../partials/htmlheader'); %>
<body class="new">
    <h1 class="title">Add a New Skill</h1>
    <form action="/skills" method="POST" class="form-wrapper">
        <input name="name" type="text" placeholder="Name" class="form-input">
        <input name="description" type="text" placeholder="Description" class="form-input">
        <input name="level" type="text" placeholder="Level [1-10]" class="form-input">
        <input name="experience" type="text" placeholder="Experience [1-10]" class="form-input">
        <input type="submit" value="Submit" class="submit">
    </form>
</body>
<%- include('../partials/htmlfooter'); %>