<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>skills#new</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h3>Add a New Skill</h3>
    <form action="/skills" method="POST">
        <input name="name" type="text" placeholder="Name">
        <input name="description" type="text" placeholder="Description">
        <input name="level" type="text" placeholder="Level [1-10]">
        <input name="experience" type="text" placeholder="Experience [1-10]">
        <input type="submit" value="Submit">
    </form>
</body>
</html>