* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Tsukushi A Round Gothic", Avenir, "Gill Sans", Seravek, sans-serif;
  /* border: 1px solid; */
}
body {
  padding: 10vh 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
a {
  color: #00B7FF;
}

.home .homepage {
  margin: 10vh 0 0;
}

.idx .title {
  font-size: 180%;
}
.idx .list-wrapper {
  margin: 5% 0 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.idx .list-item {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 5% 0;
}
.idx .delete-btn {
  background-color: red;
  padding: 0 40%;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border: none;
}
.idx .list-item p {
  margin: 0 5%;
}
.idx .skill-name {
  font-weight: bold;
  font-size: 120%;
}
.idx .see-more {
  margin-left: auto;
  padding: 0 0 0 3%;
}
.idx .add-skill-btn {
  margin: 5% 0 0;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: #00B7FF;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.new .title {
  font-size: 180%;
}
.new .form-wrapper {
  margin: 5% 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.new .form-input {
  margin: 0 0 15%;
}
.new .submit {
  padding: 10px 10px;
  border-radius: 10px;
  background-color: #00B7FF;
  color: white;
  border: none;
  font-weight: bold;
}

.show .title-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  font-size: 180%;
}
.show .title {
  margin: 0 2% 0 0;
  font-size: 100%;
}
.show .description {
  margin: 0 0 0 2%;
  font-size: 100%;
}
.show .mastery {
  margin: 5% 0 0;
}
.show .experience {
  margin: 5% 0 0;
}
.show .return-link {
  margin: 10% 0 0;
}